MONGO_URL="YOUR MONGO DB CONNECTION STRING"

EMAIL_ADDRESS="YOUR EMAIL ADDRESS"
EMAIL_APP_PASSWORD="YOUR EMAIL PASSWORD || EMAIL APP PASSWORD"

JWT_SECRET="YOUR JWT SECRET"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="CLOUDINARY CLOUD NAME"
NEXT_PUBLIC_CLOUDINARY_PRESET_NAME="CLUDIANRY PRESET NAME"